body {
  background-color: rgb(236, 242, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 25px;
  background-color: white;
  height: 430px;
  width: 620px;
}
.left {
  color: rgb(179, 165, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 430px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #6542fe, #342eea);

  .header-left {
    padding: 10px;
    width: auto;
    height: auto;
    // background-color: green;
  }
  .average-left {
    display: flex;
    margin: 15px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgb(70, 45, 224);
  }
  .average-left2 {
    color: white;
    font-size: 30px;
  }
  .text {
    text-align: center;
    width: 200px;
    height: auto;
    // background-color: purple;
  }
  .text2 {
    color: white;
    font-size: 25px;
  }
}
.right {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  width: 45%;
  height: 430px;
  // background-color: red;

  .header-right {
    padding: 10px;
  }
  .FractionBox {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    // margin: 20px;
    height: 240px;
    width: 230px;
    // background-color: yellow;
    gap: 10px;

    .Fraction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      height: 50px;
      width: 230px;
      // background-color: green;
    }
    .Fraction1 {
      background-color: rgb(255, 246, 247);
      // color: red;
    }
    .Fraction2 {
      background-color: rgb(255, 250, 244);
    }
    .Fraction3 {
      background-color: rgb(242, 253, 249);
    }
    .Fraction4 {
      background-color: rgb(244, 244, 254);
    }
    .box {
      display: flex;
      align-items: center;
      > span {
        padding-left: 5px;
      }
    }
  }
  .result {
    width: 244px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: rgb(188, 197, 214);
    background-color: rgb(48, 59, 89);
    // margin-top: 30px;
  }
}
