* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 242, 248);
}
.container {
  //   min-height: 100vh;
  padding: 50px 20px;

  .card-range {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }

  .img-style {
    > img {
      border-radius: 25px 25px 0 0;
      width: 100%;
    }
  }
  .centent-style {
    padding: 40px 25px;

    .centent-title {
      line-height: 1.2;
      font-size: 22px;
    }
    .centent-text {
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.1;
      color: rgb(72, 80, 98);
    }
  }
  .footer {
    position: absolute;
    .share-hide {
      display: flex;
      // display: none;
      padding: 10px 25px;
      height: 54px;
      align-items: center;
      justify-content: space-around;
      border-radius: 0 0 25px 25px;
      color: white;
      background-color: rgb(73, 85, 107);
      position: relative;
      z-index: 1;
    }
    .profile {
      padding: 10px 25px;
      display: flex;
      // display: none;
      align-items: center;
      justify-content: space-around;
      position: relative;
      z-index: 0;
      .profile-img {
        > img {
          height: 50px;
          width: 50px;
          border-radius: 50px;
        }
      }
      .profile-text {
        padding-right: 80px;
        line-height: 1.2;
      }
    }
  }
}

@media (min-width: 769px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .card-range {
      width: 50%;
      flex-direction: row;

      .img-style {
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .web-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .share-hide {
        position: relative;
        left: 330px;
        display: none;
        border-radius: 10px;
        width: 45%;

        .share-hide-triangle {
          position: relative;
          left: 150px;
          top: 35px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 20px 0 20px;
          border-color: rgb(73, 85, 107) transparent transparent transparent;
        }
      }
    }
  }
}
