* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.web-page {
  min-width: 375px;
  background-color: rgb(255, 255, 255);
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  gap: 20px;

  .summary {
    text-align: center;
    margin-top: 60px;
  }

  .input-box {
  }

  .data-img {
    > img {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
}
