* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}
hr {
  color: white;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.container {
  padding: 30px 15px;
  background-color: rgb(254, 253, 249);

  .header-box {
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .nav {
        display: none;
      }
      .nav a:hover {
        color: red;
      }
      .nav .active {
        display: flex;
      }
    }
  }
  .main-box {
    margin-top: 2.5rem;
    .main-img {
      background-image: url(/assets/images/image-web-3-mobile.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 400px;
    }
    .main-title {
      margin-top: 1rem;
      font-size: 25px;
    }
    .main-readmore {
      margin-top: 0.5rem;
      color: rgb(132, 130, 131);
      line-height: 1.6;
      font-size: 18px;
      .read-span {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(243, 93, 79);
        color: black;
        font-weight: bold;
        letter-spacing: 5px;
        width: 200px;
        height: 50px;
        transition: color 1s ease;
      }
      .read-span:hover {
        color: white;
        background-color: black;
      }
    }
  }
  .news-breaking {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
    background-color: rgb(0, 0, 26);
    color: white;
    .news-title {
      font-size: 20px;
      color: rgb(235, 168, 89);
    }
    .news-centent {
      line-height: 2;
      margin-bottom: 1rem;
    }
  }
  .hot-topics {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 3.5rem;
    .topic {
      display: flex;
      flex-direction: row;

      .topic-img {
        > img {
          height: 125px;
        }
      }
      .topic-centent {
        margin-left: 1.5rem;

        .topic-centent-number {
          color: rgb(236, 95, 87);
        }
        .topic-centent-text {
          font-size: 15px;
          line-height: 1.6;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .container {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a a a"
      "b b e"
      "c d e"
      "f f f";
    gap: 20px;
    .header-box {
      grid-area: a;
      // background: lightblue;
      // grid-column: span 3;
      .header {
        margin-bottom: 3rem;
        .hamburger {
          display: none;
        }
        .nav {
          display: flex;
          gap: 1.5rem;
        }
      }
    }
    .main-box {
      display: contents;
      //gpt給的進階方法，最標準還是要把大家切乾淨在第一層，不然會吃不到gird
      //或是就用成巢狀gird
      .main-img {
        grid-area: b;
        // height: 100%;
        background-image: url(/assets/images/image-web-3-desktop.jpg);
      }
      .main-title {
        margin-top: 0;
        grid-area: c;
        // height: 100%;
        font-size: 35px;
        // padding-right: 18rem;
        // background: rgb(223, 28, 28);
      }
      .main-readmore {
        margin-top: 0;
        grid-area: d;
        font-size: 25px;
        .read-span {
          margin-top: 2rem;
          width: 300px;
          height: 50px;
          letter-spacing: 12px;
        }
        // height: 100%;
        // background: rgb(62, 100, 76);
      }
    }
    .news-breaking {
      justify-content: space-between;
      margin-top: 0;
      grid-area: e;
      // background: rgb(129, 106, 231);
    }
    .hot-topics {
      grid-area: f;
      // background: lightgray;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
